@foreach (var item in Model)
{
    <tr data-id="@item.Id">
        <td>@item.SerialImpressora</td>
        <td>@item.DeviceManufacturer</td>
        <td>@item.PrinterModel</td>
        <td>@item.QuantidadeImpressaoTotal Impressões</td>
        <td>
            <div>
                <button id="icon_@item.Id" class="btn-drop" onclick="abrirInfo(@item.Id)">
                    <i class="bi bi-caret-down-fill teste"></i>
                </button>
            </div>
        </td>
        <td>
            <div class="ink-level">
                <div class="ink-fill" style="height: @String.Concat(item.PorcentagemKitManutencao, '%') ; background-color: gray"></div> <!-- Substitua 50% pela porcentagem desejada -->
            </div>
            <p style="font-weight: bold">@item.PorcentagemKitManutencao%</p>
        </td>
        <td>
            <div class="ink-level">
                <div class="ink-fill" style="height: @String.Concat(item.PorcentagemBlack, '%') ; background-color: black "></div> <!-- Substitua 50% pela porcentagem desejada -->
            </div>
            <p style="font-weight: bold">@item.PorcentagemBlack%</p>
        </td>
        <td>
            <div class="ink-level">
                <div class="ink-fill" style="height: @String.Concat(item.PorcentagemCyan, '%'); background-color: cyan "></div> <!-- Substitua 50% pela porcentagem desejada -->
            </div>
            <p style="font-weight: bold">@item.PorcentagemBlack%</p>
        </td>
        <td>
            <div class="ink-level">
                <div class="ink-fill" style="height: @String.Concat(item.PorcentagemYellow, '%'); background-color: yellow "></div> <!-- Substitua 50% pela porcentagem desejada -->
            </div>
            <p style="font-weight: bold">@item.PorcentagemYellow%</p>
        </td>
        <td>
            <div class="ink-level">
                <div class="ink-fill" style="height: @String.Concat(item.PorcentagemMagenta, '%'); background-color: magenta "></div> <!-- Substitua 50% pela porcentagem desejada -->
            </div>
            <p style="font-weight: bold">@item.PorcentagemMagenta%</p>
        </td>
        <td>
            <div class="ink-level">
                <div class="ink-fill" style="height: @String.Concat(item.PorcentagemFusor, '%'); background-color: gray "></div> <!-- Substitua 50% pela porcentagem desejada -->
            </div>
            <p style="font-weight: bold">@item.PorcentagemFusor%</p>
        </td>
        <td>
            <div class="ink-level">
                <div class="ink-fill" style="height: @String.Concat(item.PorcentagemBelt, '%'); background-color: gray "></div> <!-- Substitua 50% pela porcentagem desejada -->
            </div>
            <p style="font-weight: bold">@item.PorcentagemBelt%</p>
        </td>

    </tr>
    <tr id="info_impressora_@item.Id" style="display:none; width:95%">
        <td>
            <div class="row" style="font-weight: bold">
                <div class="col-3">
                    Serial Uni. Imagem
                </div>
                <div class="col-3">
                    Status
                </div>
                <div class="col-3">
                    Modelo Do Dispositivo
                </div>
                <div class="col-3">
                    Data e Hora De Busca
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    @item.SerialUniImage
                </div>
                <div class="col-2">
                    @item.PrinterStatus
                </div>
                <div class="col-4">
                    @item.DeviceModel
                </div>
                <div class="col-2">
                    @item.DataHoraDeBusca
                </div>
            </div>
        </td>
    </tr>
}
            </tbody>
        </table>
    </div>
@foreach (var item in Model)
{
    <div class="container-impressoras-2" style="margin-top: 20px">
        <div class="col-1">
            <img src="~/Imagens/Imagem EPSON.png" alt="Alternate Text" class="img_impressoras" />
        </div>
        <div class="col-2">
            <p style="font-weight: bold">Fabricante</p>
            <p>@item.DeviceManufacturer</p>
        </div>

        <div class="col-2">
            <p style="font-weight: bold">Modelo</p>
            <p>@item.DeviceModel</p>
        </div>
        <div class="col-2">
            <p style="font-weight: bold">Impressões Totais</p>
            <p>@item.QuantidadeImpressaoTotal Impressões</p>
        </div>
        <div class="col-1">
            <p style="font-weight: bold">Kit Manutenção</p>
            <div class="ink-level">
                <div class="ink-fill" style="height: @String.Concat(item.PorcentagemKitManutencao, '%') ; background-color: gray"></div> <!-- Substitua 50% pela porcentagem desejada -->
            </div>
            <p style="font-weight: bold">@item.PorcentagemKitManutencao%</p>
        </div>
        <div class="col-2">
            <p style="font-weight: bold"> Capacidade</p>
            <div id="capacidade">
                <div class="container-capacidade">
                    <div class="ink-level">
                        <div class="ink-fill" style="height: @String.Concat(item.PorcentagemBlack, '%') ; background-color: black "></div> <!-- Substitua 50% pela porcentagem desejada -->
                    </div>
                    <p style="font-weight: bold">@item.PorcentagemBlack%</p>
                </div>
                <div class="container-capacidade">
                    <div class="ink-level">
                        <div class="ink-fill" style="height: @String.Concat(item.PorcentagemCyan, '%'); background-color: cyan "></div> <!-- Substitua 50% pela porcentagem desejada -->
                    </div>
                    <p style="font-weight: bold">@item.PorcentagemCyan%</p>
                </div>
                <div class="container-capacidade">
                    <div class="ink-level">
                        <div class="ink-fill" style="height: @String.Concat(item.PorcentagemYellow, '%'); background-color: yellow "></div> <!-- Substitua 50% pela porcentagem desejada -->
                    </div>
                    <p style="font-weight: bold">@item.PorcentagemYellow%</p>
                </div>
                <div class="container-capacidade">
                    <div class="ink-level">
                        <div class="ink-fill" style="height: @String.Concat(item.PorcentagemMagenta, '%'); background-color: magenta "></div> <!-- Substitua 50% pela porcentagem desejada -->
                    </div>
                    <p style="font-weight: bold">@item.PorcentagemMagenta%</p>
                </div>
            </div>
        </div>
        <div class="col-1">
            <p style="font-weight: bold">Fusor</p>
            <div class="ink-level">
                <div class="ink-fill" style="height: @String.Concat(item.PorcentagemFusor, '%'); background-color: gray "></div> <!-- Substitua 50% pela porcentagem desejada -->
            </div>
            <p style="font-weight: bold">@item.PorcentagemFusor%</p>
        </div>
        <div class="col-1">
            <p style="font-weight: bold">Belt</p>
            <div class="ink-level">
                <div class="ink-fill" style="height: @String.Concat(item.PorcentagemBelt, '%'); background-color: gray "></div> <!-- Substitua 50% pela porcentagem desejada -->
            </div>
            <p style="font-weight: bold">@item.PorcentagemBelt%</p>
        </div>
    </div>
    <div class="wrapper" style="display: flex; justify-content: center; padding-top: 20px; padding-bottom: 20px; background-color: lightgray">
        <div class="container-impressoras-3" style="width: 100%; max-width: 1200px;">
            <div class="row" style="font-weight: bold">
                <div class="col-2">
                    Serial
                </div>
                <div class="col-2">
                    Serial Uni. Imagem
                </div>
                <div class="col-2">
                    Status
                </div>
                <div class="col-2">
                    Modelo Do Dispositivo
                </div>
                <div class="col-2">
                    Data e Hora De Busca
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    @item.SerialImpressora
                </div>
                <div class="col-2">
                    @item.SerialUniImage
                </div>
                <div class="col-2">
                    @item.PrinterStatus
                </div>
                <div class="col-2">
                    @item.DeviceModel
                </div>
                <div class="col-2">
                    @item.DataHoraDeBusca
                </div>
            </div>
        </div>
    </div>
}
</section>














