@model List<Controle_De_Impressoras.Models.PrintersModel>
@{
    ViewBag.Title = "Controle De Impressoras";
}
<style>
    @@media screen and (max-width: 768px) {
        body {
            background: pink;
        }
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box;
    }

    .custom-page {
        display: grid;
        grid-template-columns: 12fr 1fr;
        gap: 2rem;
    }

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }

    .containerImpressora {
        background-color: #f9f9f9;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 0.5rem 1rem;
        border: 1px solid #000;
    }

    .filtrosImpressoras {
        padding: 1rem 0;
        background: #ffffff;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .container body-content {
        margin: 0 !important;
        padding: 0 !important;
    }

    .gridContainer1 {
        display: grid;
        grid-template-columns: 4fr 8fr;
        gap: 1rem;
    }

    .gridContainer2 {
        display: grid;
        grid-template-columns: 10fr 2fr;
        gap: .5rem;
    }

    .gridContainer3 {
        display: grid;
        grid-template-columns: 13fr 1fr;
        gap: .5rem;
        margin-top: 1rem;
    }

    .feedback {
        width: 20px;
    }

    .feedback-nav {
        width: 2rem;
    }

    .feedback-p {
        font-size: 0.8rem;
        color: black;
    }

    .impressora {
        width: 100%;
    }

    .container-capacidade {
        display: flex;
        gap: 5px;
        margin-bottom: 10px;
        align-items: center; /* Alinha verticalmente */
        justify-content: center; /* Alinha horizontalmente */
    }

    .container-capacidade-modal {
        display: flex;
        gap: 5px;
        margin-bottom: 10px;
    }

    .ink-level {
        border: solid 1.5px black;
        width: 1.5vw; /* Largura proporcional baseada em vw */
        height: 5vh; /* Altura proporcional baseada em vh */
        background-color: #F6F7F8;
        position: relative;
        border-radius: 4px;
    }


    .ink-fill {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 4px;
    }

    /* Novo estilo para o formato horizontal */
    .ink-level-horizontal {
        border: solid 1.5px black;
        height: 1.5rem; /* A altura foi reduzida para dar mais ênfase à largura */
        width: 5rem; /* Torna o mostrador mais largo */
        background-color: #F6F7F8;
        position: relative;
        border-radius: 4px;
        text-align: center;
    }

    .ink-fill-horizontal {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: 4px;
    }


    .btn-plus {
        width: 2vw;
        height: 2vw;
        background-color: #45ADFF;
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 3.1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
        margin-left: auto;
    }

        /* Efeito ao passar o mouse sobre o botão */
        .btn-plus:hover {
            background-color: #0056b3; /* Azul mais escuro */
        }

    /* Estilo para o ícone de mais */
    .icon {
        font-weight: bold;
    }

    .modal-content {
        padding: 1rem;
        border-radius: 8px;
    }

    /* Icone e botão fechar */
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal-icon {
        width: 24px;
        height: 24px;
    }

    /* Grid principal */
    .modal-grid {
        display: grid;
        grid-template-areas:
            "image capacity info"
            "impressions maintenance maintenance";
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    /* Área de imagem */
    .modal-img {
        grid-area: image;
    }

    .printer-image {
        width: 100%;
        border-radius: 8px;
    }

    /* Capacidade de cores */
    .modal-capacity {
        grid-area: capacity;
    }

    .color-container {
        display: flex;
        gap: 8px;
    }

    .color-item {
        width: 24px;
        height: 48px;
        border-radius: 4px;
    }

        .color-item.black {
            background-color: black;
        }

        .color-item.cyan {
            background-color: cyan;
        }

        .color-item.yellow {
            background-color: yellow;
        }

        .color-item.magenta {
            background-color: magenta;
        }

    .color-labels {
        display: flex;
        gap: 8px;
        justify-content: space-between;
    }

    /* Informações principais */
    .modal-info {
        grid-area: info;
    }

        .modal-info h6, .modal-info p {
            margin: 0;
        }

    /* Impressões totais */
    .modal-impressions {
        grid-area: impressions;
        text-align: center;
    }

    /* Manutenção */
    .modal-maintenance {
        grid-area: maintenance;
    }

    .maintenance-container {
        display: flex;
        gap: 8px;
        margin-top: 8px;
    }

    .maintenance-item {
        width: 24px;
        height: 48px;
        background-color: gray;
        border-radius: 4px;
    }

    .maintenance-labels {
        display: flex;
        gap: 8px;
        justify-content: space-between;
    }

    .gridContainer2 .info {
        width: 100%; /* A largura do pai precisa ser garantida */
        padding: 0; /* Certifique-se de que não há margens internas inesperadas */
        margin: 0; /* Garantir que não haja margens externas que possam interferir */
    }


    .info p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100vw / 10); /* Usa 1/12 da largura da tela */
        display: block;
    }

    .navbar-hidden {
        display: none;
    }

    p {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .ink-level-modal {
        border: solid 1.5px black;
        width: 1.5rem;
        height: 3rem;
        background-color: #F6F7F8;
        position: relative;
        border-radius: 4px;
    }

    .ink-fill-modal {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 4px;
    }

</style>


<main class="custom-page">
    <section class="gridContainer">
        @foreach (var impressoras in Model)
        {
            <div class="containerImpressora">
                <div class="gridContainer1">


                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="~/Imagens/Impressoras/@(impressoras.DeviceManufacturer + ".png")" class="impressora" alt="impressora">
                    </div>
                    <div class="container-capacidade" style="padding-top: 30px">
                        @if (impressoras.Tipo == "MONO")
                        {
                            <div>
                                <div class="ink-level">
                                    <div class="ink-fill" style="height: @String.Concat(impressoras.PorcentagemBlack, '%'); background-color: black;"></div>
                                </div>
                                <p style="font-weight: bold; font-size: 1.2vh; text-align: center; ">@impressoras.PorcentagemBlack%</p>
                            </div>
                            <div>
                                <div class="ink-level">
                                    <div class="ink-fill" style="height: @String.Concat(impressoras.PorcentagemUnidadeImagem, '%'); background-color: gray;"></div>
                                </div>
                                <p style="font-weight: bold; font-size: 1.2vh; text-align: center;">@impressoras.PorcentagemUnidadeImagem%</p>
                            </div>
                        }
                        @if (impressoras.Tipo == "COLOR")
                        {
                            <div>
                                <div class="ink-level">
                                    <div class="ink-fill" style="height: @String.Concat(impressoras.PorcentagemBlack, '%'); background-color: black;"></div>
                                </div>
                                <p style="font-weight: bold; font-size: 1.2vh ">@impressoras.PorcentagemBlack%</p>
                            </div>
                            <div>
                                <div class="ink-level">
                                    <div class="ink-fill" style="height: @String.Concat(impressoras.PorcentagemCyan, '%'); background: linear-gradient(to top, #8AFDFF, #5AFDFF);"></div>
                                </div>
                                <p style="font-weight: bold; font-size: 1.2vh ">@impressoras.PorcentagemCyan%</p>
                            </div>
                            <div>
                                <div class="ink-level">
                                    <div class="ink-fill" style="height: @String.Concat(impressoras.PorcentagemYellow, '%'); background: linear-gradient(to top, #F6FF98, #F2FF66);"></div>
                                </div>
                                <p style="font-weight: bold; font-size: 1.2vh ">@impressoras.PorcentagemYellow%</p>
                            </div>
                            <div>
                                <div class="ink-level">
                                    <div class="ink-fill" style="height: @String.Concat(impressoras.PorcentagemMagenta, '%'); background: linear-gradient(to top, #FF8AF8, #FF5CF5);"></div>
                                </div>
                                <p style="font-weight: bold; font-size: 1.2vh ">@impressoras.PorcentagemMagenta%</p>
                            </div>

                        }
                    </div>
                </div>

                <div class="gridContainer2">
                    <div class="info">
                        <p style="font-size: 14px; font-weight: bold;">Dispositivo:</p>
                        <p>
                            @impressoras.Patrimonio, <em>@impressoras.PrinterModel</em>
                        </p>
                    </div>
                    <button class="btn-plus" onclick="openModal('@impressoras.PrinterModel', '@impressoras.Patrimonio', '@impressoras.DeviceModel', '@impressoras.QuantidadeImpressaoTotal', '@impressoras.PorcentagemBlack', '@impressoras.PorcentagemCyan', '@impressoras.PorcentagemYellow', '@impressoras.PorcentagemMagenta', @impressoras.PorcentagemFusor, @impressoras.PorcentagemBelt, @impressoras.PorcentagemKitManutencao, '@impressoras.Secretaria', '@impressoras.Depto', '@impressoras.PorcentagemUnidadeImagem', '@impressoras.Tipo')">
                        <span class="icon">+</span>
                    </button>
                </div>


                <div class="gridContainer3">
                    <p style="margin-top: -20px; font-style: italic; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: auto; ">@impressoras.AbrSecretaria - @impressoras.Depto</p>
                    <img src="@(
                        impressoras.PorcentagemBlack >= 60 ? Url.Content("~/Imagens/Icon.svg") :
                        impressoras.PorcentagemBlack >= 20 ? Url.Content("~/Imagens/IconYellow.svg") :
                        impressoras.PorcentagemBlack >= 1 ? Url.Content("~/Imagens/IconRed.svg") :
                        Url.Content("~/Imagens/IconBlack.svg")
                    )" class="feedback" alt="feedback">
                </div>
            </div>
        }
    </section>

    <div class="modal fade" id="impressoraModal" tabindex="-1" aria-labelledby="impressoraModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/Imagens/Icon.svg" id="icon" class="modal-icon" alt="icon">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-grid">
                    <div class="modal-img">
                        <img src="~/Imagens/Impressoras/EPSON.png" alt="Impressora" class="printer-image">
                    </div>
                    <div class="container-toner">
                        <h6><strong>Capacidade</strong></h6>
                        <div class="container-capacidade-modal">
                            <div>
                                <div class="ink-level-modal">
                                    <div id="black-ink-fill" class="ink-fill-modal" style="background-color: black;"></div>
                                </div>
                                <p style="font-weight: bold" id="black-percentage">100%</p>
                            </div>
                            <div>
                                <div class="ink-level-modal" id="cyan-ink-level-modal">
                                    <div id="cyan-ink-fill" class="ink-fill-modal" style="background-color: cyan;"></div>
                                </div>
                                <p style="font-weight: bold" id="cyan-percentage">100%</p>
                            </div>
                            <div>
                                <div class="ink-level-modal" id="yellow-ink-level-modal">
                                    <div id="yellow-ink-fill" class="ink-fill-modal" style="background-color: yellow;"></div>
                                </div>
                                <p style="font-weight: bold" id="yellow-percentage">100%</p>
                            </div>
                            <div>
                                <div class="ink-level-modal" id="magenta-ink-level-modal">
                                    <div id="magenta-ink-fill" class="ink-fill-modal" style="background-color: magenta;"></div>
                                </div>
                                <p style="font-weight: bold" id="magenta-percentage">100%</p>
                            </div>
                        </div>
                        <h6><strong>Modelo</strong></h6>
                        <p id="modalPrinterModel">X3B7001709</p>
                    </div>
                    <div class="modal-info">
                        <h6><strong>Patrimônio</strong></h6>
                        <p id="modalPatrimonio" style="padding-bottom:10px">83</p>
                        <h6><strong>Serial Uni. Imagem</strong></h6>
                        <p id="modalSerial" style="padding-bottom:10px">X3B7001709</p>
                        <h6><strong>Local</strong></h6>
                        <p id="modalSecretaria" style="padding-bottom: 10px; ">Insira secretaria...</p>
                    </div>
                    <div class="modal-impressions">
                        <h6><strong>Impressões Totais</strong></h6>
                        <p id="modalImpressaoTotal">Impressões</p>
                    </div>
                    <div class="container-toner">
                        <h6><strong>Fusor, Belt e Kit Manutenção</strong></h6>
                        <div class="container-capacidade-modal">
                            <div>
                                <div class="ink-level-modal">
                                    <div id="fusor-ink-fill" class="ink-fill-modal" style="height: 100%; background-color: gray;"></div>
                                </div>
                                <p style="font-weight: bold" id="fusor-percentage">100%</p>
                            </div>
                            <div>
                                <div class="ink-level-modal">
                                    <div id="belt-ink-fill" class="ink-fill-modal" style="height: 100%; background-color: gray;"></div>
                                </div>
                                <p style="font-weight: bold" id="belt-percentage">100%</p>
                            </div>
                            <div>
                                <div class="ink-level-modal">
                                    <div id="kit-ink-fill" class="ink-fill-modal" style="height: 100%; background-color: gray;"></div>
                                </div>
                                <p style="font-weight: bold" id="kit-percentage">100%</p>
                            </div>
                        </div>
                    </div> <div class="container-toner">
                        <h6><strong>Unidade de Imagem</strong></h6>
                        <div class="container-capacidade-modal">
                            <div>
                                <div class="ink-level-modal">
                                    <div id="fusor-ink-fill" class="ink-fill-modal" style="height: 100%; background-color: gray;"></div>
                                </div>
                                <p style="font-weight: bold" id="unidade-imagem-percentage">100%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form method="get" action="/Home/Painel">
        <div class="filtrosImpressoras">
            <label>
                <input type="checkbox" name="intervalo1" value="true"
                       @(Request.QueryString["intervalo1"] == "true" ? "checked" : "") />
                <img src="~/Imagens/Icon.svg" class="feedback-nav" alt="feedback">
                <p class="feedback-p">100% até 60%</p>
            </label>
            <label>
                <input type="checkbox" name="intervalo2" value="true"
                       @(Request.QueryString["intervalo2"] == "true" ? "checked" : "") />
                <img src="~/Imagens/IconYellow.svg" class="feedback-nav" alt="feedback">
                <p class="feedback-p">60% até 20%</p>
            </label>
            <label>
                <input type="checkbox" name="intervalo3" value="true"
                       @(Request.QueryString["intervalo3"] == "true" ? "checked" : "") />
                <img src="~/Imagens/IconRed.svg" class="feedback-nav" alt="feedback">
                <p class="feedback-p">20% até 1%</p>
            </label>
            <label>
                <input type="checkbox" name="esgotado" value="true"
                       @(Request.QueryString["esgotado"] == "true" ? "checked" : "") />
                <img src="~/Imagens/IconBlack.svg" class="feedback-nav" alt="feedback">
                <p class="feedback-p">Esgotado!</p>
            </label>
            <button type="submit" class="btn btn-primary ml-2">Aplicar Filtros</button>
            <button type="button" id="pauseButton" class="btn btn-primary ml-2">
                <i id="pauseIcon" class="bi bi-pause-circle"></i>
                <span id="pauseText">Pausar</span>
            </button>
            <button type="button" class="btn btn-danger" onclick="toggleNavbar()">Esconder menu</button>

        </div>
    </form>
</main>

<script>
    // Função para abrir as informações de impressora
    function abrirInfo(id) {
        var div_info = document.getElementById("info_impressora_" + id);
        var i_icon = document.getElementById("icon_" + id);

        if (div_info.style.display == "none") {
            div_info.style.display = "table";
            i_icon.style.transform = "rotate(180deg)";
        } else {
            div_info.style.display = "none";
            i_icon.style.transform = "rotate(0deg)";
        }
    }

    // Função para verificar as porcentagens de tinta
    function verificarPorcentagens() {
        const linhas = document.querySelectorAll("#corpo_tabela tr[data-id]");

        linhas.forEach(linha => {
            linha.querySelectorAll('.ink-level').forEach(div => {
                const porcentagem = parseInt(div.querySelector('.ink-fill').style.height);

                if (porcentagem === 0) {
                    const icone = document.createElement('i');
                    icone.className = 'bi bi-exclamation-octagon';
                    icone.style.fontSize = '24px';
                    div.replaceWith(icone);
                }
            });
        });
    }

    // Variáveis de controle da rotação
    const containers = Array.from(document.querySelectorAll('.containerImpressora'));
    let currentIndex = 0;
    const maxContainersPerScreen = 15; // Máximo de containers por tela
    const displayDuration = 10000; // Duração de cada exibição
    let intervalId;
    let isPaused = false;

    // Função para renderizar os containers
    function renderContainers() {
        if (isPaused) return;

        const gridContainer = document.querySelector('.gridContainer');
        gridContainer.innerHTML = '';

        // Seleciona os containers para exibição
        const containersToShow = containers.slice(currentIndex, currentIndex + maxContainersPerScreen);
        containersToShow.forEach(container => {
            gridContainer.appendChild(container);
        });

        // Atualiza o índice para exibir os próximos containers
        currentIndex += maxContainersPerScreen;

        // Se atingiu o final da lista, volta para o início
        if (currentIndex >= containers.length) {
            currentIndex = 0;
        }
    }

    // Função para navegar para a página anterior ou próxima
    function changePage(direction) {
        currentIndex += direction * maxContainersPerScreen;

        if (currentIndex < 0) {
            currentIndex = containers.length - maxContainersPerScreen; // Vai para a última página
        } else if (currentIndex >= containers.length) {
            currentIndex = 0; // Vai para a primeira página
        }

        renderContainers();
    }

    // Função para iniciar a rotação
    function startRotation() {
        intervalId = setInterval(renderContainers, displayDuration);
    }

    // Função para parar a rotação
    function stopRotation() {
        clearInterval(intervalId);
    }

    // Função para alternar entre pausar e retomar
    function togglePause() {
        isPaused = !isPaused;
        const pauseIcon = document.getElementById('pauseIcon');
        const pauseText = document.getElementById('pauseText');

        if (isPaused) {
            stopRotation();
            pauseIcon.className = 'bi bi-play-circle';
            pauseText.textContent = 'Retomar';
        } else {
            startRotation();
            pauseIcon.className = 'bi bi-pause-circle';
            pauseText.textContent = 'Pausar';
        }
    }

    // Inicia a rotação ao carregar a página
    verificarPorcentagens();
    renderContainers();
    startRotation();

    // Configura o botão de pausa
    document.getElementById('pauseButton').addEventListener('click', togglePause);

    // Função para abrir o modal e mostrar as informações detalhadas da impressora
    function openModal(printerModel, patrimonio, deviceModel, impressaoTotal, black, cyan, yellow, magenta, fusor, belt, kit, secretaria, depto, unidade_imagem, impressora_tipo) {

        function getIconPath(black) {
            if (black >= 60) {
                return "/Imagens/Icon.svg";
            } else if (black >= 20) {
                return "/Imagens/IconYellow.svg";
            } else if (black >= 1) {
                return "/Imagens/IconRed.svg";
            } else {
                return "/Imagens/IconBlack.svg";
            }
        }

        const icon = getIconPath(black);

        // Atualiza o conteúdo do modal
        document.getElementById('modalPrinterModel').textContent = printerModel;
        document.getElementById('modalPatrimonio').textContent = patrimonio;
        document.getElementById('modalSerial').textContent = deviceModel;
        document.getElementById('modalImpressaoTotal').textContent = impressaoTotal + " Impressões";
        document.getElementById("modalSecretaria").textContent = secretaria + " - " + depto;
        document.getElementById("icon").src = icon;

        // Atualiza as porcentagens de tinta no modal
        document.getElementById("black-ink-fill").style.height = black + "%";
        document.getElementById("black-percentage").textContent = black + "%";

        // Verifica se a impressora é mono, se for, oculta ciano, magenta e amarelo
        if (impressora_tipo == "MONO") {
            document.getElementById("cyan-ink-fill").style.display = "none";
            document.getElementById("yellow-ink-fill").style.display = "none";
            document.getElementById("magenta-ink-fill").style.display = "none";
            document.getElementById("cyan-percentage").style.display = "none";
            document.getElementById("yellow-percentage").style.display = "none";
            document.getElementById("magenta-percentage").style.display = "none";
            document.getElementById("cyan-ink-level-modal").style.display = "none";
            document.getElementById("yellow-ink-level-modal").style.display = "none";
            document.getElementById("magenta-ink-level-modal").style.display = "none";
        } else {
            document.getElementById("cyan-ink-fill").style.height = cyan + "%";
            document.getElementById("yellow-ink-fill").style.height = yellow + "%";
            document.getElementById("magenta-ink-fill").style.height = magenta + "%";

            document.getElementById("cyan-percentage").textContent = cyan + "%";
            document.getElementById("yellow-percentage").textContent = yellow + "%";
            document.getElementById("magenta-percentage").textContent = magenta + "%";

            // Certifique-se de exibir as cores de volta se não for mono
            document.getElementById("cyan-ink-fill").style.display = "block";
            document.getElementById("yellow-ink-fill").style.display = "block";
            document.getElementById("magenta-ink-fill").style.display = "block";
            document.getElementById("cyan-percentage").style.display = "block";
            document.getElementById("yellow-percentage").style.display = "block";
            document.getElementById("magenta-percentage").style.display = "block";
        }

        // Atualiza os itens de manutenção
        document.getElementById("fusor-ink-fill").style.height = fusor + "%";
        document.getElementById("unidade-imagem-percentage").style.height = unidade_imagem + "%";
        document.getElementById("belt-ink-fill").style.height = belt + "%";
        document.getElementById("kit-ink-fill").style.height = kit + "%";

        document.getElementById("fusor-percentage").textContent = fusor + "%";
        document.getElementById("belt-percentage").textContent = belt + "%";
        document.getElementById("kit-percentage").textContent = kit + "%";

        // Abre o modal
        $('#impressoraModal').modal('show');
    }

</script>