@model Controle_De_Impressoras.Models.RegisterViewModel

@{
    ViewBag.Title = "Cadastro de Usuário";
}

<h2>Cadastro de Usuário</h2>

@using (Html.BeginForm("Register", "Conta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Usuario, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Senha, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmarSenha, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmarSenha, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmarSenha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </div>
}
