<style>
    #grid_cadastro > thead > tr th:nth-child(2) {
        width: 110px;
    }

    #grid_cadastro > thead > tr th:nth-child(3) {
        width: 210px;
    }

    .container-impressoras, .container-impressoras-2 {
        border: 1px solid;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #corpo_tabela {
        max-height: 700px;
        overflow: auto;
        display: block;
    }

        #corpo_tabela tr, thead, tbody tr {
            table-layout: fixed;
            width: 100%;
            display: table;
        }

    thead {
        width: calc(100% - 1em);
        border-bottom: 1px solid;
    }

    td, th {
        text-align: center;
        vertical-align: middle;
    }

    .container-capacidade {
        display: flex;
        gap: 5px;
        margin-bottom: 10px;
    }

    .ink-level {
        border: solid 1.5px black;
        width: 30px;
        height: 50px;
        background-color: #F6F7F8;
        position: relative;
        border-radius: 4px;
    }

    .ink-fill {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 4px;
    }

    .btn-drop {
        cursor: pointer;
        border: none;
        transition: transform 0.3s;
    }

    #pesquisas {
        display: flex;
        justify-content: center;
    }



    .filtros {
        margin-bottom: 50px;
    }

    #btn-filter {
        margin-top: 25px;
        margin-left: 20px;
    }

    .img_impressoras {
        width: 100%;
        margin: 0 -1rem;
    }

    #capacidade, .extraInformation {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    p {
        margin-bottom: .5rem;
    }

    .printerInformation {
        display: grid;
        grid-template-columns: 1.0fr 0.7fr 1.0fr 1.0fr 1.0fr 1.0fr 1.0fr;
        padding: 2rem 0;
    }

    .containerImpressoras {
        display: flex;
        flex-wrap: nowrap; /* Impede que os itens quebrem para uma nova linha */
        padding: 1rem;
    }

        .containerImpressoras > div {
            flex: 1; /* Faz com que cada item ocupe a mesma largura */
        }




    .alinharTintas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .filtro {
        flex: 1; /* Isso faz com que todos os filtros tenham a mesma largura */
    }

    .mensais-container {
        max-height: 250px; /* Ajuste conforme necessário */
        overflow-y: auto; /* Adiciona rolagem vertical */
        padding-right: 10px; /* Evita sobreposição do conteúdo com a barra de rolagem */
        padding: 2rem 0;
    }

    .grid-container {
        display: flex;
        flex-wrap: nowrap;
        padding: 1rem;
    }
</style>
@model Controle_De_Impressoras.Models.PrinterStatusLogModelView

@{
    ViewBag.Title = "Relatórios";
}

@using (Html.BeginForm("Index", "Reports", FormMethod.Get))
{
    <div class="filtros">
        <h2>Filtros:</h2>
        <div style="display: flex; flex-wrap: wrap; gap: 10px;">
            <div class="filtro" style="flex: 1;">
                <label class="text-filter">Data de Início:</label>
                <input class="form-control" type="date" name="startDate" style="width: 100%;">
            </div>
            <div class="filtro" style="flex: 1;">
                <label class="text-filter">Data Final:</label>
                <input class="form-control" type="date" name="endDate" style="width: 100%;">
            </div>

            <input type="hidden" name="printerId" value="@ViewBag.printerId" />

            <div class="filtro" style="flex: 1;">
                <label class="text-filter"></label>
                <button type="submit" class="btn btn-outline-primary" style="width: 100%;">Filtrar<i class="bi bi-funnel"></i></button>
            </div>
            <div class="filtro" style="flex: 1;">
                <label class="text-filter"></label>
                <button type="button" id="exportPDF" class="btn btn-outline-success" style="width: 100%;">Exportar PDF<i class="bi bi-file-earmark-pdf"></i></button>
            </div>
        </div>
    </div>
}



@if (ViewBag.PrinterDetails != null)
{
    var printer = ViewBag.PrinterDetails;

    <div class="printerInformation">
        <img src="~/Imagens/Impressoras/@(printer.DeviceManufacturer + ".png")" alt="@printer.DeviceManufacturer" class="img_impressoras" />
        <div class="fabricante">
            <p class="title">Fabricante:</p>
            <p>@printer.DeviceManufacturer</p>
        </div>
        <div class="modelo">
            <p class="title">Modelo do dispositivo:</p>
            <p>@printer.PrinterModel</p>
        </div>
        <div class="serial">
            <p class="title">Serial Impressora</p>
            <p>@printer.SerialImpressora</p>
        </div>
        <div class="patrimonio">
            <p class="title">Patrimônio Impressora</p>
            <p>@printer.Patrimonio</p>
        </div>
        @if (@printer.SerialTonnerPreto == "")
        {
            <div class="serial-tonner">
            </div>
        }
        else
        {
            <div class="serial-tonner">
                <p class="title">Serial Tonner Preto</p>
                <p>@printer.SerialTonnerPreto</p>
            </div>
        }
    </div>

    <hr class="separator" />
}

<div style="display: flex; align-items: center;">
    <h3>Relatórios Mensais</h3>
    <i id="toggleButton" class="bi bi-caret-down-fill" style="font-size: 1.2rem; margin-left: 10px;"></i> <!-- Ícone ajustado -->
</div>

<div class="mensais-container" id="reportsContainer" style="display: none;">

    @foreach (var monthlyReport in Model.MonthlyReports)
    {
        <div class="grid-container">
            <div class="dataBusca" style="flex: 1">
                <p class="title">Ano</p>
                <p>@monthlyReport.Year</p>
            </div>
            <div class="dataBusca" style="flex: 1">
                <p class="title">Mês</p>
                <p>@monthlyReport.Month</p>
            </div>
            <div class="dataBusca" style="flex: 5">
                <p class="title">Impressões no mês</p>
                <p>@monthlyReport.TotalImpressaoMensal</p>
            </div>
        </div>
    }
</div>

<!-- Script para alternar a visibilidade e o ícone -->
<script>
    const toggleButton = document.getElementById("toggleButton");
    const reportsContainer = document.getElementById("reportsContainer");

    toggleButton.addEventListener("click", function () {
        // Alternar entre mostrar e esconder
        if (reportsContainer.style.display === "none") {
            reportsContainer.style.display = "block";
            toggleButton.classList.remove("bi-caret-down-fill");
            toggleButton.classList.add("bi-caret-up-fill");  // Mudar para seta para cima
        } else {
            reportsContainer.style.display = "none";
            toggleButton.classList.remove("bi-caret-up-fill");
            toggleButton.classList.add("bi-caret-down-fill");  // Mudar para seta para baixo
        }
    });
</script>




<hr class="separator" />

@if (Model.Reports != null && Model.Reports.Any() && ViewBag.PrinterDetails != null)
{
    <table id="grid_cadastro">
        @foreach (var report in Model.Reports)
        {
            <div class="containerImpressoras">
                <div class="dataBusca">
                    <p class="title">Data da busca</p>
                    <p>@report.DataHoraDeBusca</p>
                </div>

                <div class="impressoesTotais">
                    <p class="title">Impressões Totais</p>
                    <p>@report.QuantidadeImpressaoTotal Impressões</p>
                </div>

                <div class="impressoesTotais">
                    <p class="title">Impressões Diarias</p>
                    <p>@report.QuantidadeImpressaoDiaria Impressões</p>
                </div>

                <div class="statusTintas">
                    <p class="title">Status Tintas</p>
                    <div class="container-capacidade">
                        @if (ViewBag.PrinterDetails.Tipo == "COLOR")
                        {
                            <div>
                                <div class="ink-level">
                                    <div class="ink-fill" style="height: @report.PorcentagemBlack%; background-color: black;"></div>
                                </div>
                                <p class="title">@report.PorcentagemBlack%</p>
                            </div>
                            <div>
                                <div class="ink-level">
                                    <div class="ink-fill" style="height: @report.PorcentagemCyan%; background-color: cyan;"></div>
                                </div>
                                <p class="title">@report.PorcentagemCyan%</p>
                            </div>
                            <div>
                                <div class="ink-level">
                                    <div class="ink-fill" style="height: @report.PorcentagemYellow%; background-color: yellow;"></div>
                                </div>
                                <p class="title">@report.PorcentagemYellow%</p>
                            </div>
                            <div>
                                <div class="ink-level">
                                    <div class="ink-fill" style="height: @report.PorcentagemMagenta%; background-color: magenta;"></div>
                                </div>
                                <p class="title">@report.PorcentagemMagenta%</p>
                            </div>
                        }

                        @if (ViewBag.PrinterDetails.Tipo == "MONO")
                        {
                            <div>
                                <div class="ink-level">
                                    <div class="ink-fill" style="height: @report.PorcentagemBlack%; background-color: black;"></div>
                                </div>
                                <p class="title">@report.PorcentagemBlack%</p>
                            </div>
                        }
                    </div>
                </div>

                <div class="fusorBeltKit">
                    <p class="title">Fusor, Belt e Kit de Manutenção</p>
                    <div class="container-capacidade">
                        <div>
                            <div class="ink-level">
                                <div class="ink-fill" style="height: @report.PorcentagemFusor%;  background:linear-gradient(to top, #A8A8A8, #6E6E6E);"></div>
                            </div>
                            <p class="title">@report.PorcentagemFusor%</p>
                        </div>
                        <div>
                            <div class="ink-level">
                                <div class="ink-fill" style="height: @report.PorcentagemBelt%;  background: linear-gradient(to top, #A8A8A8, #6E6E6E);"></div>
                            </div>
                            <p class="title">@report.PorcentagemBelt%</p>
                        </div>
                        <div>
                            <div class="ink-level">
                                <div class="ink-fill" style="height: @report.PorcentagemKitManutencao%;  background: linear-gradient(to top, #A8A8A8, #6E6E6E);"></div>
                            </div>
                            <p class="title">@report.PorcentagemKitManutencao%</p>
                        </div>
                    </div>
                </div>
                @if (ViewBag.PrinterDetails.Tipo == "MONO")
                {
                    <div class="fusorBeltKit">
                        <p class="title">Unidade de Imagem</p>
                        <div class="container-capacidade">
                            <div>
                                <div class="ink-level">
                                    <div class="ink-fill" style="height: @report.PorcentagemUnidadeImagem%;  background: linear-gradient(to top, #A8A8A8, #6E6E6E);"></div>
                                </div>
                                <p class="title">@report.PorcentagemUnidadeImagem%</p>
                            </div>
                        </div>
                    </div>
                }

                @if (report.SerialTonnerPreto != "")
                {
                    <div class="impressoesTotais">
                        <p class="title">Serial Tonner Preto</p>
                        <p>@report.SerialTonnerPreto</p>
                    </div>
                }
                else
                {
                    <div></div>
                }
            </div>
        }
    </table>
}




<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

<script>
 document.getElementById("exportPDF").addEventListener("click", function () {
    const reports = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Reports));

    // Verifique se 'reports' é um array
    console.log(reports);

     const docDefinition = {
         pageOrientation: 'landscape', // Define a orientação para paisagem
         content: [
             { text: 'Relatórios', style: 'header' },
             {
                 table: {
                     body: [
                         // Cabeçalho da tabela
                         [
                             { text: 'Data da Busca', style: 'tableHeader' },
                             { text: 'Impressões Totais', style: 'tableHeader' },
                             { text: 'Porcentagem Black', style: 'tableHeader' },
                             { text: 'Porcentagem Cyan', style: 'tableHeader' },
                             { text: 'Porcentagem Yellow', style: 'tableHeader' },
                             { text: 'Porcentagem Magenta', style: 'tableHeader' },
                             { text: 'Porcentagem Unidade de Imagem', style: 'tableHeader' },
                             { text: 'Porcentagem Fusor', style: 'tableHeader' },
                             { text: 'Porcentagem Belt', style: 'tableHeader' },
                             { text: 'Porcentagem Kit', style: 'tableHeader' }
                         ],
                         // Dados da tabela
                         ...reports.map(report => [
                             { text: report.DataHoraDeBusca, style: 'tableCell' },
                             { text: report.QuantidadeImpressaoTotal, style: 'tableCell' },
                             { text: report.PorcentagemBlack, style: 'tableCell' },
                             { text: report.PorcentagemCyan, style: 'tableCell' },
                             { text: report.PorcentagemYellow, style: 'tableCell' },
                             { text: report.PorcentagemMagenta, style: 'tableCell' },
                             { text: report.PorcentagemUnidadeImagem, style: 'tableCell' },
                             { text: report.PorcentagemFusor, style: 'tableCell' },
                             { text: report.PorcentagemBelt, style: 'tableCell' },
                             { text: report.PorcentagemKitManutencao, style: 'tableCell' }
                         ])
                     ]
                 }
             }
         ],
         styles: {
             header: {
                 fontSize: 14, // Tamanho de fonte reduzido
                 bold: true,
                 margin: [0, 20, 0, 10],
                 alignment: 'center'
             },
             tableHeader: {
                 fontSize: 10,  // Tamanho da fonte reduzido
                 bold: true,
                 fillColor: '#eeeeee',
                 alignment: 'center',
                 padding: 5 // Menos espaço interno
             },
             tableCell: {
                 fontSize: 9,  // Tamanho da fonte reduzido
                 margin: [3, 3],  // Menos margem
                 alignment: 'left',
                 padding: 3 // Menos espaço interno
             }
         },
         defaultStyle: {
             columnGap: 10 // Menor espaço entre as colunas
         }
     };

    pdfMake.createPdf(docDefinition).download('relatorios.pdf');
});

</script>

